@import '../../app.component.scss';

.login-container {

  &.vertically-centered {
    top: 35%;
  }
}

.splash-page {

  .flexman-logo {
    height: auto;
    width: 150px;
  }

  .btn-lg {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }

  .btn-facebook-login {
    background-color: $social-facebook;
    color: $white;
  }

  .btn-google-login {
    background-color: $social-google;
    color: $white;
  }

  .icon-social {
    height: auto;
    width: 25px;
  }

  .display-4.btn-link {
    font-size: 1.25rem;
  }

  .fine-print {
    line-height: 1;
  }

  @media screen and (min-width: map-get($breakpoints, medium)) {

    .login-container {

      .btn {
        width: auto !important;
      }
    }
  }
}

.email-login-page,
.email-signup-page,
.splash-page {

  @media screen and (min-width: map-get($breakpoints, medium)) {

    .login-container {
      @include vertically-centered;
      margin-left: 30%;
      margin-top: 35px;
      width: 40%;
    }
  }
}
