<nav class="navbar navbar-expand-md d-block sticky-top">
  <div class="py-sm-2 px-sm-4">
    <div class="navbar-brand col-8 col-sm-12 text-left pl-2">
      WEED WORKOUTS
      <div class="d-sm-inline-block align-middle ml-sm-3 float-right">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav py-2 py-sm-0 px-sm-1">
            <li class="nav-item align-middle">
              <button class="btn btn-link nav-item" routerLink="/">
                Home
              </button>
            </li>
            <li class="nav-item align-middle">
              <button class="btn btn-link nav-item" routerLink="/notebooks">
                Notebooks
              </button>
            </li>
            <li class="nav-item align-middle">
              <button class="btn btn-link nav-item" routerLink="/current-workout">
                Current Workout
              </button>
            </li>
            <li class="nav-item align-middle">
              <button class="btn btn-link nav-item" routerLink="/workout-analysis">
                Workout Analysis
              </button>
            </li>
            <li class="nav-item align-middle">
              <button class="btn btn-link nav-item">
                Logout
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-util col-4 text-right d-sm-none">
      <button class="navbar-toggler align-middle mr-2"></button>
    </div>
  </div>
</nav>
