{% include "partials/header.html" %}
<!DOCTYPE html>
<html>

<head>
    <title>View Workout Plans</title>
</head>

<body>
    <div class="container mb-5">
        <h2>Workout History</h2>
    </div>
    <div class="container mb-5">
        {% if workouts %}
        <ul class="list-group mb-5">
            {% for workout in workouts %}
            <li class="list-group-item">
                <div class="mt-1 mb-2 d-flex justify-content-between align-items-center">
                    <strong>{{ workout.date }}</strong><br>
                    <div>
                        <a class="btn btn-primary" href="{% url 'workout_plan_detail' workout.id %}">Edit</a>
                        <a class="btn btn-primary" href="{% url 'delete_workout_plan' workout.id %}">Delete</a>
                    </div>
                </div>
                {% if workout.templates.all %}
                <div class="mb-2">
                    <em>Templates:</em>
                </div>
                <table class="table table-bordered table-striped mb-3">
                    {% for template in workout.templates.all %}
                    <thead>
                        <tr>
                            <th scope="col">{{ template.name }}</th>
                        </tr>
                    </thead>
                    {% if template.exercises.all %}
                    <tbody>
                        {% for exercise in template.exercises.all %}
                        <tr>
                            <td>{{ exercise.name }}</td>
                            {% if workout.sets.all %}
                            <td>
                                <ul>
                                    {% for s in workout.sets.all %}
                                    <li>{{ s.exercise.name }}: {{ s.weight }} x {{ s.reps }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                    {% endfor %}
                </table>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {{ workout.notes }}
        {% else %}
        <p>No workout plans found.</p>
        {% endif %}
        <a href="{% url 'create_workout_plan' %}">Create New Workout Plan</a>
    </div>
</body>

</html>