<div>
  <div class="current-workouts__list px-3 px-sm-5 mb-1 mb-sm-3">
    Hello from the "Daily Log"
    <div class="row">
      <div class="mt-3 mb-2">Courageous Acts</div>
      <input value="" class="form-control">
      <div class="mt-3 mb-2">Alcohol consumed previous night</div>
      <input value="" class="form-control">
      <div class="mt-3 mb-2">Time spent meditating</div>
      <input value="" class="form-control">
      <div class="mt-3 mb-2">Time spent physically active</div>
      <input value="" class="form-control">
      <div class="mt-3 mb-2">Ideas generated</div>
      <input value="" class="form-control">
    </div>
  </div>
</div>
