<div class="current-workouts__list px-3 px-sm-5 mb-1 mb-sm-3">
    Hello from the "Daily Log"
    <div class="row">
        <!-- <div class="mt-3 mb-2">Courageous Acts</div>
            <input value="" class="form-control" /> -->
        <!-- <div class="mt-3 mb-2 ">Time spent meditating</div>
            <input value=" " class="form-control " />
            <div class="mt-3 mb-2 ">Time spent physically active</div>
            <input value=" " class="form-control " />
            <div class="mt-3 mb-2 ">Ideas generated</div>
            <input value=" " class="form-control " /> -->

        <h3 class="mt-3 mb-2">Alcohol consumed last night</h3>
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="alcohol-0" id="alcohol-0" value="alcohol-0" checked />
                0
            </label>
            <label class="radio-inline">
                <input type="radio" name="alcohol-1-2" id="alcohol-1-2" value="alcohol-1-2" />
                1-2
            </label>
            <label class="radio-inline">
                <input type="radio" name="alcohol-3-5" id="alcohol-3-5" value="alcohol-3-5" />
                3-5
            </label>
            <label class="radio-inline">
                <input type="radio" name="alcohol-6" id="alcohol-6" value="alcohol-6" />
                6+
            </label>
        </div>
    </div>
</div>
