<!--ToDo Idea: Make fitness vector background for splash page-->
<div class="splash-page h-100">
    <div class="login-container h-100">
        <div class="d-flex flex-column justify-content-center text-center h-100 px-5">
            <img class="flexman-logo d-block mx-auto" src="assets/images/flexman.svg">
            <div class="mb-3">
                <h2 class="h4">Workout Notes</h2>
                <p class="mb-1">For fitness enthusiasts who want to optimize their workouts and life.</p>
                <span (click)="openModal(more_modal)" class="d-block btn btn-link text-primary text-underlined display-4">
                    Learn More
                </span>
                <ng-template #more_modal let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">About Flexing365 Workouts</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>We get it...you just want to go get that workout.</p>
                        <p>Just sign up with an existing account, or enter your email address and a password and get to it.</p>
                        <p>This application is being offered as a Beta test with limited space for users.<br>
                            We can take about 100 right now, but if you aren't using your account after a few weeks it will
                            probably
                            be disabled.</p>
                        <p>If you have any bugs or requests please check out the contact forms in the About menu.</p>
                    </div>
                </ng-template>
            </div>
            <button (click)="signInWithFacebook()"
                    class="btn btn-lg btn-facebook-login align-self-center mx-sm-1 my-1 w-100" id="fb">
                <img class="icon icon-social icon-social__google align-middle mr-2"
                     src="assets/images/facebook.svg">
                <span class="align-middle">Login With Facebook</span>
            </button>
            <button (click)="signInWithGoogle()"
                    class="btn btn-lg btn-google-login align-self-center mx-sm-1 my-1 w-100" id="google">
                <img class="icon icon-social icon-social__google align-middle mr-2" src="assets/images/google.svg">
                <span class="align-middle">Login With Google</span>
            </button>
            <button routerLink="/login-email"
                    class="btn btn-lg btn-white border border-dark align-self-center mx-sm-1 my-1 w-100" id="email">Login With
                Email
            </button>
            <div class="fine-print justify-content-center mt-4">
                <small class="text-primary">By signing in you agree to the <a routerLink="/terms-and-conditions">Terms of Use</a>, <a routerLink="/privacy-policy">Privacy Policy</a>, and <a routerLink="/rules">Rules.</a></small>
            </div>
        </div>
    </div>
    <div *ngIf="error" class="row justify-content-center my-2 px-4 text-center">
        <span class="error">{{ error }}</span>
    </div>
</div>
