form {

  label {

    &.required {

      &::after {
        color: $secondary-brand;
        content: '(required) *';
        margin: 0 0 0 5px;
      }
    }
  }
}

.form-control {
  border-color: $border-color;

  @media screen and (min-width: map-get($breakpoints, medium)) {
    font-size: $font-size-lg;
    padding: $input-padding-y-lg $input-padding-x-lg;
  }
}

select {

  &.form-control:not([size]):not([multiple]) {

    @media screen and (min-width: map-get($breakpoints, medium)) {
      height: calc(2.875rem + 2px);
    }
  }
}

.form-checkbox {
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;
  position: relative;

  .form-check-input {
    cursor: pointer;
    opacity: 0;
    position: absolute;

    &:checked ~ .form-checkmark {
      border: 1px solid $border-color;
      color: $border-color;
    }

    &:checked ~ .form-checkmark:after {
      display: block;
    }
  }

  .form-check-label {
    cursor: pointer;
  }

  .form-checkmark:after {
    border: solid $border-color;
    border-width: 0 3px 3px 0;
    content: '';
    display: none;
    height: 14px;
    left: 8px;
    position: absolute;
    top: 3px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 8px;
  }

  .form-checkmark {
    border: 1px solid $border-color;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.workout-form-container {

  .actions {

    .btn-success {

      @media screen and (min-width: map-get($breakpoints, medium)) {
        font-size: $font-size-lg;
        padding: $btn-padding-y-lg $btn-padding-x-lg;
      }
    }
  }
}
