<div class="workout-form-container">
    <div class="modal-body">
        <form [formGroup]="workoutNoteForm">
            <ngb-accordion #acc="ngbAccordion" activeIds="workout-note" [closeOthers]="true">
                <ngb-panel id="workout-note" title="Step 1 - Create Workout Note">
                    <ng-template ngbPanelContent>
                        <div class="py-2">
                            <div class="form-group">
                                <label class="required">Title</label>
                                <input class="form-control" formControlName="title" required autofocus>
                            </div>
                            <div *ngIf="workoutNoteForm.controls['title'].errors && !workoutNoteForm.controls['title'].pristine"
                                 class="error-msg">
                                <div [hidden]="!workoutNoteForm.controls['title'].errors.required">
                                    <div class="invalid-feedback">
                                        Title is Required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="required">Description</label>
                                <input class="form-control" formControlName="description" required>
                            </div>
                            <div *ngIf="workoutNoteForm.controls['description'].errors && !workoutNoteForm.controls['description'].pristine"
                                 class="error-msg">
                                <div [hidden]="!workoutNoteForm.controls['description'].errors.required">
                                    <div class="invalid-feedback">
                                        Description is Required
                                    </div>
                                </div>
                            </div>
                            <!-- ToDo this submits the exercise a million times -->
                            <!-- ToDo this looks like it's fixed but make sure -->
                            <div *ngIf="addWorkoutNoteCreateNewNotebook == 'hidden'"
                                 class="form-group">
                                <label class="required">Notebook</label>
                                <select class="form-control" formControlName="selectedNotebook" required>
                                    <option *ngFor="let workoutCollection of weeklyWorkoutCollections | async"
                                            [value]="workoutCollection.key">
                                        {{ workoutCollection.title }}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="workoutNoteForm.controls['selectedNotebook'].errors && !workoutNoteForm.controls['selectedNotebook'].pristine"
                                 class="error-msg">
                                <div [hidden]="!workoutNoteForm.controls['selectedNotebook'].errors.required">
                                    <div class="invalid-feedback">
                                        Title is Required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-check form-checkbox mt-4">
                                <label class="form-check-label" for="create-workout">
                                    Or Create A New Workout Notebook
                                    <input class="form-check-input" type="checkbox"
                                           formControlName="createNewNotebook"
                                           (change)="toggleCreateNewWorkoutNotebookVisibility()"
                                           id="create-workout">
                                    <span class="form-checkmark"></span>
                                </label>
                            </div>
                            <div *ngIf="addWorkoutNoteCreateNewNotebook == 'visible'"
                                 class="workout-note-actions">
                                <hr class="my-4">
                                <div class="form-group">
                                    <label class="required">Notebook Title</label>
                                    <input class="form-control" formControlName="notebookTitle" required>
                                </div>
                                <div *ngIf="workoutNoteForm.controls['notebookTitle'].errors && !workoutNoteForm.controls['notebookTitle'].pristine"
                                     class="error-msg">
                                    <div [hidden]="!workoutNoteForm.controls['notebookTitle'].errors.required">
                                        <div class="invalid-feedback">
                                            Title is Required
                                        </div>
                                    </div>
                                </div>
                                <!-- ToDo Finish Styling the Tags Input -->
                                <div class="form-group">
                                    <label class="required">Tags</label><br>
                                    <small>Click enter between tags</small>
                                    <tag-input class="form-control" formControlName="notebookTags"
                                               [maxItems]="5"></tag-input>
                                </div>
                                <div *ngIf="workoutNoteForm.controls['notebookTags'].errors && !workoutNoteForm.controls['notebookTags'].pristine"
                                     class="error-msg">
                                    <div [hidden]="!workoutNoteForm.controls['notebookTags'].errors.required">
                                        <div class="invalid-feedback">
                                            Description is Required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="actions workout-note-actions w-100 left">
                            <button class="btn btn-success mt-2 mr-sm-2 w-100"
                                    (click)="acc.toggle('workout-exercises')">Next - Add Exercises
                            </button>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="workout-exercises" title="Step 2 - Add Exercises To Workout">
                    <ng-template ngbPanelContent>
                        <div *ngIf="workoutNoteForm && workoutNoteForm['controls'] &&
    workoutNoteForm.controls.exercises &&
    workoutNoteForm['controls']['exercises']['controls']">
                            <div formArrayName="exercises">
                                <div *ngFor="let exercises of workoutNoteForm.controls.exercises.controls; let j=index">
                                    <div [formGroupName]="j">
                                        <div class="row mb-1">
                                            <div class="form-group align-middle col-md-6">
                                                <label>Title</label>
                                                <input class="form-control" formControlName="title">
                                            </div>
                                            <div class="form-group align-middle col-4 col-md-2">
                                                <label>Sets</label>
                                                <input class="form-control" formControlName="sets">
                                            </div>
                                            <div class="form-group align-middle col-4 col-md-2">
                                                <label>Reps</label>
                                                <input class="form-control" formControlName="reps">
                                            </div>
                                            <div class="form-group align-middle col-4 col-md-2">
                                                <label>Weight</label>
                                                <input class="form-control" formControlName="weight">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="actions workout-note-actions w-100 left">
                            <button class="btn btn-success mt-2 mr-sm-2 w-100" (click)="addNewExercise()">Add Another Exercise
                            </button>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <!-- ToDo fix toggle validation or disabled -->
            <div class="actions workout-note-actions w-100 my-4">
                <button class="btn btn-success mt-2 w-100"
                        [disabled]="workoutNoteForm.invalid"
                        (click)="saveWorkoutNoteForm()">Save and Close
                </button>
                <button class="btn btn-success mt-2 w-100"
                        [disabled]="workoutNoteForm.invalid"
                        (click)="saveWorkoutNoteForm()">Save and Add Another
                </button>
            </div>
        </form>
    </div>
</div>
