<nav class="navbar navbar-expand-md sticky-top mb-3">
    <div class="navbar-brand col-12 col-sm-8 text-left">
        <!-- ToDo make mobile menu -->
        <!--<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarsExampleDefault"-->
                <!--aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<mat-icon>menu</mat-icon>-->
        <!--</button>-->
        <!-- ToDo where does this link route? -->
        <a href="#" class="d-sm-inline-block">
            <img src="assets/images/flexing365-text-header.svg"/>
        </a>
    </div>
    <div class="navbar-util col-sm-4 text-right d-none d-sm-block">
        <mat-icon>settings</mat-icon>
    </div>
    <!--<div class="collapse navbar-collapse" id="navbarsExampleDefault">-->
    <!--<div class="d-sm-none" id="navbarsExampleDefault">-->
        <!--<ul class="navbar-nav mr-auto">-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="/members">User Settings<span class="sr-only">User Settings</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link disabled" href="#">Disabled</a>-->
            <!--</li>-->
            <!--<li class="nav-item dropdown" ngbDropdown>-->
            <!--<a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Category</a>-->
            <!--<div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>-->
            <!--<a class="dropdown-item" href="#">Angular</a>-->
            <!--<a class="dropdown-item" href="#">React</a>-->
            <!--<a class="dropdown-item" href="#">Vue.js</a>-->
            <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<form class="form-inline my-2 my-lg-0">-->
        <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    <!--</div>-->
</nav>
