<nav class="navbar navbar-expand-md d-block sticky-top">
    <div class="row py-sm-2 px-sm-3">
        <div class="navbar-brand col-8 col-sm-12 text-left pl-3">
            <a href="https://workouts.flexing365.com" title="Flexing365 Workout App" class="d-sm-inline-block align-middle">
                <img src="assets/images/flexing365-text-header.svg"/>
            </a>
            <div class="d-sm-inline-block align-middle ml-sm-3">
                <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}">
                    <ul class="navbar-nav py-2 py-sm-0 px-sm-1">
                        <li ngbDropdown class="nav-item">
                            <button class="btn btn-link" id="workoutMenu" ngbDropdownToggle>Workouts</button>
                            <div ngbDropdownMenu aria-labelledby="workoutMenu">
                                <a class="nav-link dropdown-item" routerLink="/current" (click)="navbarOpen = false">Current Workouts</a>
                                <a class="nav-link dropdown-item" routerLink="/notes" (click)="navbarOpen = false">Workout Notes</a>
                                <a class="nav-link dropdown-item" routerLink="/notebooks" (click)="navbarOpen = false">Workout Notebooks</a>
                            </div>
                        </li>
                        <li ngbDropdown class="nav-item">
                            <button class="btn btn-link" id="aboutMenu" ngbDropdownToggle>Flexing365</button>
                            <div ngbDropdownMenu aria-labelledby="aboutMenu">
                                <a class="nav-link dropdown-item" href="https://flexing365.com">About Flexing365</a>
                                <a class="nav-link dropdown-item" routerLink="/bugs" (click)="navbarOpen = false">Report Bugs</a>
                                <a class="nav-link dropdown-item" routerLink="/contact" (click)="navbarOpen = false">Contact</a>
                            </div>
                        </li>
                        <li class="nav-item align-middle">
                            <button class="btn btn-link nav-item" routerLink="/settings" (click)="navbarOpen = false">Settings</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar-util col-4 text-right d-sm-none">
            <button class="navbar-toggler align-middle mr-2" (click)="toggleNavbar()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </div>
</nav>
