{% include "partials/header.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
</head>

<body>
    <div class="container mb-5">
        <h2>Register New User</h2>
        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mb-3">
                <label class="form-label">Username:</label>
                <input class="form-control form-control-lg" type="text" name="username" required><br>
            </div>
            <div class="mb-3">
                <label class="form-label">Password:</label>
                <input class="form-control form-control-lg" type="password" name="password" required><br>
            </div>
            <button class="btn btn-dark" type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</body>

</html>